numpy==1.21.5
pandas==2.0.0 # TODO: I had problems installing it.
ray==1.12.0 # TODO: I had to install it manually. Why fixing version 1.12.0?
matplotlib==3.7.1
seaborn==0.12.2
scikit-learn==1.2.2
modin==0.14.1
pandarallel==1.6.1
scikit-plot==0.3.7
thefuzz==0.19.0
python-levenshtein==0.12.2
rapidfuzz==2.14.0
scipy==1.7.3
imbalanced-learn==0.9.1
pyyaml==6.0
xgboost==1.5.1
category_encoders==2.5.1.post0
mlflow==1.2.0
lightgbm==3.3.5
catboost==1.0.4
dvc==2.36.0
black==22.6.0
json-stream
skl2onnx==1.14.0
onnx-tf==1.10.0
tensorflowjs==4.4.0
protobuf==3.20.2
yaml==0.2.5
onnx==1.13.1
setuptools==61.2.0