/merged_data.parquet.gzip
/merged_data_processed.parquet.gzip
/merged_data_featurized_BE.parquet.gzip
/merged_data_request.parquet.gzip
/merged_data_response.parquet.gzip
/merged_data_processed_response.parquet.gzip
/merged_data_processed_request.parquet.gzip
